<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${emptyPerson}">
    <label for="forName">Enter name</label>
    <input type="text" th:field="*{name}" id="forName"/>
    <br/>
    <label for="forAge">Enter age</label>
    <input type="text" th:field="*{age}" id="forAge"/>
    <br/>
    <label for="forEmail">Enter email</label>
    <input type="text" th:field="*{email}" id="forEmail"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>