<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getSurname()}"/>
<p th:text="${person.getName()}"/>
<p th:text="${person.getLastname()}"/>
<p th:text="${person.getAge()}"/>
<p th:text="${person.getEmail()}"/>
<p th:text="${person.getId()}"/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit!</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>